.export-pic {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.25em;

	h1 {
		margin-bottom: 1.25em;
		text-transform: capitalize;
	}
	button {
		width: 10em;
		padding: 0.625em 1.25em;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;

		&:hover {
			background-color: #0056b3;
		}
	}
}

@media (max-width: 900px) {
	.info-form__buttons {
		font-size: 0.9em;
	}

	.info-preview-body__profilePic {
		height: calc(80vw / 100px * 23.913px) !important;
	}
}
