.info-preview {
	// IMPORTANT 21/11 ( w / h ) - base scaleSize
	// FONT-SIZE 85/2 ( w / s ) - base scaleSize
	// width: 850px;
	// height: calc(11/21 * 850px);
	// font-size: calc((2/85 * 850px)); 
	// IMPORTANT

	display: flex;
	flex-direction: column;
	

	padding: 1em 0;

	border: .05em solid #000000;
	background-color: rgb(255, 255, 255);

	&-top {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: .2em;
		font-size: 1em;

		p{
			font-size: .9em;
		}
		h2{
			font-size: 1em;
		}
		h1{
			font-size: 1.2em;
			text-decoration: underline;
		}
	}

	&-body {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10%;
		font-size: 1em;

		&__profilePic {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(11em / 2);
			height: calc(16em / 2);
			overflow: hidden;
			padding: 0.2em;
			border-radius: 0.3em;
			z-index: 1;

			img {
				z-index: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				pointer-events: none;
			}
		}

		&__details {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: max-content;
			height: max-content;

			font-size: .9em;

			.name {
				font-size: 1.3em;
				font-weight: 800;
				text-transform: uppercase;
			}

			.class,
			.chuyennganh {
				text-transform: uppercase;
			}

			.chuyennganh {
				text-transform: capitalize;
			}
		}
	}
}
