$sidebar-bg-color: #ffa200;
$sidebar-hover-color: rgb(255, 201, 120);
$tooltip-bg-color: #333;
$tooltip-color: #fff;
$transition-duration: 0.2s;

.admin-page {
	position: relative;
	display: flex;
	height: 100%;

	.sidebar {
		position: fixed;
		height: 100%;
		min-width: 2rem;
		width: max-content;
		z-index: 1;

		&-content {
			display: flex;
			justify-content: center;
			background-color: $sidebar-bg-color;
			border-radius: 0 0.5em 0.5em 0;
			padding: 0.5em;

			ul {
				display: flex;
				flex-direction: column;
				gap: 0.5em;

				a {
					cursor: pointer;
					width: 100%;
					color: white;
					font-size: 1.2em;
					transition: transform $transition-duration ease-in-out;

					&:hover {
						transform: scale(1.1);
						color: $sidebar-hover-color;
					}

					&:active {
						transform: scale(1.05);
					}

					.tooltip {
						position: absolute;
						display: none;
						background-color: $tooltip-bg-color;
						color: $tooltip-color;
						padding: 0.4rem;
						border-radius: 0.2rem;
						font-size: 0.6em;
						white-space: nowrap;
						transform: translate(10%, 0);
						opacity: 0;
						transition: opacity $transition-duration;
					}

					&:hover .tooltip {
						opacity: 1;
						display: block;
					}
				}
			}
		}
	}

	.content {
		width: 100%;
		padding-top: 1rem;

		&-page {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;
			font-size: 1em;
		}
	}
}