$sidebar-bg-color: #007bff;
$sidebar-hover-color: rgb(255, 201, 120);
$tooltip-bg-color: #333;
$tooltip-color: #fff;
$transition-duration: 0.2s;

.admin-page {
	position: relative;
	display: flex;
	height: 100%;

	.sidebar {
		position: fixed;
		margin-top: 4rem;
		height: 100%;
		min-width: 2rem;
		width: max-content;

		&-content {
			display: flex;
			justify-content: center;
			background-color: $sidebar-bg-color;
			border-radius: 0 0.5em 0.5em 0;
			padding: 0.5em;

			ul {
				display: flex;
				flex-direction: column;
				gap: 0.5em;

				a {
					cursor: pointer;
					width: 100%;
					color: white;
					font-size: 1.2em;
					transition: transform $transition-duration ease-in-out;

					&:hover {
						transform: scale(1.1);
						color: $sidebar-hover-color;
					}

					&:active {
						transform: scale(1.05);
					}

					.tooltip {
						position: absolute;
						display: none;
						background-color: $tooltip-bg-color;
						color: $tooltip-color;
						padding: 0.4rem;
						border-radius: 0.2rem;
						font-size: .6em;
						white-space: nowrap;
						transform: translate(10%, 0);
						opacity: 0;
						transition: opacity $transition-duration;
					}
					
					&:hover .tooltip{
						opacity: 1;
						display: block;
					}
				}
			}
		}

		&.open {
			animation: sideIn 0.5s;
		}

		&.closed {
			animation: sideOut 0.5s forwards;
		}

		@keyframes sideIn {
			from {
				display: block;
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		@keyframes sideOut {
			from {
				opacity: 1;
			}
			to {
				opacity: 0;
				display: none;
			}
		}
	}

	.content {
		width: 100%;
		padding: 1rem 12rem;

		&-page {
			width: 100%;

			&.statistics {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1em;
				font-size: 1em;

				.statistics-search {
					position: relative;
					min-width: 35rem;
					width: max-content;
					height: max-content;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 1em;

					&-part {
						padding: 0.5em 1em;
						border-radius: 0.25em;
					}

					&__input {
						width: 70%;
						display: flex;
						align-items: center;
						gap: 0.5em;
						background-color: rgb(240, 240, 240);

						input {
							background-color: transparent;
						}
					}

					&__type {
						width: max-content;
                        display: flex;
                        gap: .5em;
						background-color: #077bff;
						span {
							color: white;
							white-space: nowrap;
						}
                        select{
                            cursor: pointer;
							border-radius: .2em;
							padding: 0 .5em;
                        }
					}
				}

				.statistics-actions{
					position: relative;
					width: 100%;
					display: flex;
					justify-content: center;
					gap: .5em;

					border-top: 1px solid #b9b9b9;
					padding-top: 1em;

					li{
						button{
							cursor: pointer;
							background-color: #007bff;
							color: white;
							padding: .25em .5em;
							border-radius: .25em;

							&:hover{
								background-color: #0056b3;
							}

							&:active{
								background-color: #00479e;
							}
						}
					}
				}

				.statistics-content{
					table {
						position: relative;
						width: 100%;
						border-collapse: collapse;
	
						thead {
							background-color: #007bff;
							color: white;
	
							th {
								padding: 0.75em;
								text-align: left;
								white-space: nowrap;
							}
						}
	
						tbody {
							tr {
								&:nth-child(even) {
									background-color: #f2f2f2;
								}
	
								td {
									padding: 0.75em;
									border: 1px solid #ddd;
								}
							}
						}
					}
				}
			}
		}
	}
}