$sidebar-bg-color: #ffa200;
$sidebar-hover-color: rgb(255, 201, 120);
$tooltip-bg-color: #333;
$tooltip-color: #fff;
$transition-duration: 0.2s;

.admin-page {
	position: relative;
	display: flex;
	height: 100%;

	.sidebar {
		position: fixed;
		margin-top: 0rem;
		height: 100%;
		min-width: 2rem;
		width: max-content;
		z-index: 1;

		&-content {
			display: flex;
			justify-content: center;
			background-color: $sidebar-bg-color;
			border-radius: 0 0.5em 0.5em 0;
			padding: 0.5em;

			ul {
				display: flex;
				flex-direction: column;
				gap: 0.5em;

				a {
					cursor: pointer;
					width: 100%;
					color: white;
					font-size: 1.2em;
					transition: transform $transition-duration ease-in-out;

					&:hover {
						transform: scale(1.1);
						color: $sidebar-hover-color;
					}

					&:active {
						transform: scale(1.05);
					}

					.tooltip {
						position: absolute;
						display: none;
						background-color: $tooltip-bg-color;
						color: $tooltip-color;
						padding: 0.4rem;
						border-radius: 0.2rem;
						font-size: 0.6em;
						white-space: nowrap;
						transform: translate(10%, 0);
						opacity: 0;
						transition: opacity $transition-duration;
					}

					&:hover .tooltip {
						opacity: 1;
						display: block;
					}
				}
			}
		}
	}

	.content {
		width: 100%;
		padding-top: 1rem;

		&-page {
			width: 100%;

			&.statistics {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1em;
				font-size: 1em;

				.statistics-search {
					position: relative;
					width: 100%;
					height: max-content;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 1em;

					&-part {
						width: 25rem;
						padding: 0.5em 1em;
						border-radius: 0.25em;
					}

					&__input {
						display: flex;
						align-items: center;
						gap: 1em;
						background-color: rgb(245, 245, 245);
						border: 1px solid #b9b9b9;
						padding: 0.5em 5%;

						input {
							width: 100%;
							background-color: transparent;
						}
					}

					&__type {
						display: flex;
						justify-content: center;
						gap: 0.5em;
						background-color: #141414;
						span {
							color: white;
							white-space: nowrap;
						}
						select {
							cursor: pointer;
							border-radius: 0.2em;
							padding: 0 0.5em;
						}
					}
				}

				.statistics-actions {
					position: relative;
					width: 100%;
					display: flex;
					justify-content: center;
					gap: 0.5em;

					border-top: 1px solid #b9b9b9;
					padding-top: 1em;

					li {
						button {
							cursor: pointer;
							background-color: #007bff;
							color: white;
							padding: 0.25em 0.5em;
							border-radius: 0.25em;

							&:hover {
								background-color: #0056b3;
							}

							&:active {
								background-color: #00479e;
							}
						}

						.dropdown {
							position: relative;
							display: inline-block;

							.dropbtn {
								cursor: pointer;
								background-color: #007bff;
								color: white;
								padding: 0.25em 0.5em;
								border-radius: 0.25em;

								&:hover {
									background-color: #0056b3;
								}

								&:active {
									background-color: #00479e;
								}
							}

							.dropdown-content {
								display: none;
								position: absolute;
								left: 0;
								background-color: #ffffff;
								border: 1px solid #ddd;
								min-width: 160px;
								box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
								z-index: 1;
								margin-top: 0.5em;

								a {
									cursor: pointer;
									color: black;
									padding: 12px 16px;
									text-decoration: none;
									display: block;

									&:hover {
										background-color: #f1f1f1;
									}
								}
							}

							&:hover .dropdown-content {
								display: block;
							}

							&::before {
								content: "";
								position: absolute;
								top: 1.7em;
								height: 2em;
								width: 100%;
							}
						}
					}
				}

				.statistics-content {

					&.text{
						width: 100%;
						overflow: auto;
					}

					table {
						position: relative;
						width: 100%;
						border-collapse: collapse;

						font-size: clamp(.8em, 1.7vw, 1em);

						*{
							text-wrap: nowrap;
						}

						thead {
							background-color: #007bff;
							color: white;

							th {
								padding: 0.75em;
								text-align: left;
								white-space: nowrap;
							}
						}

						tbody {
							tr {
								&:nth-child(even) {
									background-color: #f2f2f2;
								}

								&:nth-child(odd) {
									background-color: #ffffff;
								}

								td {
									padding: 0.75em;
									border: 1px solid #ddd;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 770px) {
	.statistics-search {
		font-size: 0.9em;

		&-part {
			width: 20rem !important;
		}
	}

	.statistics-actions {
		font-size: 0.9em;
	}
}

@media (max-width: 450px) {
	.statistics-search {
		font-size: 0.8em;

		&-part {
			width: 15rem !important;
		}
	}

	.statistics-actions {
		font-size: 0.8em;
		.dropdown {
			.dropdown-content {
				min-width: 120px !important;

				a {
					padding: 6px 8px !important;
				}
			}
		}
	}
}
