@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--main-background-color: rgb(255, 233, 192);
	--font-family-main: "Be Vietnam Pro", serif;
	--color-white: white;
	--color-black: black;
	--color-gray-light: rgb(240, 240, 240);
	--color-gray-dark: rgb(200, 200, 200);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family-main);
	text-decoration: none;
	list-style: none;
	font-size: 1em;
	border: none;
	outline: none;
}

html{
	font-size: 16px;
}

body {
	width: 100vw;
	min-height: 100vh;

	display: flex;
	justify-content: center;

	background-color: var(--main-background-color);
	overflow-x: hidden;

	&::-webkit-scrollbar{
		width: 0;
	}
}

#root {
	width: 100%;
	max-width: 1440px;
	padding: 0 20px;
}

// Cần tự điều chỉnh top và right của wrapper
.wrapper {
	position: absolute;
	top: 170%;
	right: 0;
	width: 12em;
	background-color: var(--color-white);
	box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
	z-index: 9999 !important;
	animation: wrapperOpen 0.2s ease-out;

	ul {
		display: flex;
		flex-direction: column;
		border-radius: 0.25em;

		li {
			display: flex;
			justify-content: center;
			cursor: pointer;
			align-items: center;
			transition: all 0.1s ease-out;
			font-size: 0.8em;

			text-align: center;
			text-align-last: center;

			&:not(:last-child) {
				border-bottom: 0.05em solid rgb(227, 227, 227);
			}

			* {
				text-align: center;
				width: 100%;
				height: 100%;
				cursor: pointer;
				background-color: transparent;
				color: var(--color-black);
				transition: all 0.1s ease-out;
				text-transform: capitalize;
				padding: 0.5em 0;
			}

			&:hover {
				background-color: var(--color-gray-light);
			}

			&:active {
				background-color: var(--color-gray-dark);
				* {
					color: var(--color-white);
				}
			}
		}
	}
}

// Cần tự điều chỉnh width và min width của container
.select-container {
	position: relative;
	width: 100%;
	min-width: 3ch;

	display: flex;
	align-items: center;
	background-color: transparent;

	.select-box {
		position: relative;
		cursor: pointer;
		width: 100%;
		appearance: none;
		background-color: black;
		color: white;
		padding: 0.625em 0;
		border-radius: 0.25em;
		text-align: center;

		&::-webkit-scrollbar{
			width: 10px;
		}

		&::-webkit-scrollbar-thumb{
			background-color: lighten(black, 50%);
			border-radius: 0.25em;
		}

		&::-webkit-scrollbar-track{
			background-color: darken($color: white, $amount: 10%);
		}
	}

	.select-icon{
		position: absolute;
		width: 2em;
		height: 100%;

		right: 0;

		color: white;
		background-color: rgb(47, 47, 47);
		border-radius: 0 0.25em 0.25em 0;

		display: flex;
		justify-content: center;
		align-items: center;

		svg{
			height: 50%;
		}
	}
}

@keyframes wrapperOpen {
	from {
		opacity: 0;
		transform: translateY(-10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 900px) {
	#root{
		font-size: clamp(0.8em, 2.5vw, 1em);
	}
}

// error message
.error{
	user-select: none;
	color: red;
	font-size: 0.8em;
	text-decoration: underline;
}